[build]
target = "x86_64-unknown-none"

[target.x86_64-unknown-none]
rustflags = [
    "-C",
    "link-arg=-Tlinker.ld",
    "-C",
    "target-feature=-sse,-sse2,-sse3,-ssse3,-sse4.1,-sse4.2,-avx,-avx2",
    "-C",
    "soft-float",
    "-C",
    "relocation-model=static",
    "-C",
    "link-arg=-no-pie",
]
